/* .orderBtn, .orderBtn:hover{

} */

* {
  font-family: sans-serif;
}

.orderBtn {
  width: 6rem;
  background: rgb(236, 158, 12);
  border-color: rgb(236, 158, 12);
}

.orderBtn:hover {
  background: orange;
  border-color: orange;
}

.orderBtn:active {
  background: orange;
}

.buttons {
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  background: white;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: black 3 px solid;
}
