.cartButton:active{
  background: #1e8449;
}

.cardTemplate {
  width: 18rem;
  margin: 1rem;
}

/* .bookImage{
  width:15rem;
} */

.buttons{
  display:flex;
  justify-content:space-between;
}

.cartButton{
    background: #28a745 ;
    border: grey;
}

.cartButton:hover{
  background: #4caf50;
}